* {
  box-sizing: border-box;
}

body{
background-color: WHITE;
color: BLACK;
padding: 10px 15px;
font-family: 'Montserrat', sans-serif;
background: rgb(209,194,255);
background: linear-gradient(180deg, rgba(209,194,255,1) 0%, rgba(240,197,244,0.8802871490393032) 44%, rgba(245,245,245,0) 100%);
background-repeat:no-repeat;
background-size: 100% 170px;


}


aside{
	
	width:25%;
	float: right;
	padding:5px;
 
}
#sidro
{
	position: fixed;
	bottom: 10px;
	right:5px;
	
}


main{
	
	width:50%;
	float: left;
	color:black;
	padding:15px;
	font-size:20px;
	background-color:#DBE0E6;
	
	border-radius: 25px;
	border-color: #557190;

 
}

a {
  color: #888BDB;
  font:bold;
}
a:hover {
  color: hotpink;
}
nav >a
{
	color: black;
	text-decoration: none;
	
}

#podrucje1{
	
font-size:14px;
position:relative;
left:20px;
border-radius: 25px;
margin: 20px;


}

#tekst{
	margin-right:20px;
}
footer{
	
	display:block;
	position:fixed;
	bottom:1px;
	left:1px;
}
#navigacija{
	
	width:22%;
	float:left;
	display:block;
	padding:5px;

}
#spremnik
{
	position:relative;
	font-size:15px;
	width:500px;
	height:50px;
	text-align:center;
	color:black;

}
.floatpr
{
	display: flex;
    justify-content: center;
    align-items: center;
	float:left;
width: 120px;
height: 35px;
color:black;
font-weight:3px;
background-color: #D9CCE6;
border: 1.5px solid #557190;
text-align:center;
;
}
.clearfl { clear: both; }
fieldset{
border: 1px solidrgb(249,148,148);
}